.card1{
  background-color:pink;
 
  width:15%;
  border-style:solid;
  border-color:black;
  border-width:3px;
  
}

.card2{
    background-color:blue;
   height:400;
   border-style:solid;
  border-color:black;
  border-width:3px;

}
.card3{
    background-color:black;
    height:200;
    border-style:solid;
  border-color:black;
  border-width:3px;
}
.card4{
    background-color:orange;
    height:400;
    border-style:solid;
  border-color:black;
  border-width:3px;
}
.card5{
    background-color:red;
   height:400;
      border-style:solid;
  border-color:black;
  border-width:3px;
  margin-right:20;
}
.card6{
    background-color:purple;
    
     border-style:solid;
  border-color:black;
  border-width:3px;
}
.card7{
    background-color:yellow;
    height:40;
      border-style:solid;
  border-color:black;
  border-width:3px;
  
}
.card8{
    background-color:white;
   height:400;
    border-style:solid;
  border-color:black;
  border-width:3px;
}
.container{
    height:800px;
    
}
.row{
    
}